.ContactPage {
}

.portfolio__info.portfolio__info--touch {
  margin-top: 0;
}

.contact-me {
  margin-top: -40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.contact-me__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.contact-me__form .input-group {
  width: 100%;
}

.contact-me__form input,
.contact-me__form textarea {
  width: 100%;
  border: none;
  background: var(--clr-semi-dark-grey-bg);
  padding: 16px;

  margin-top: 8px;
}

.contact-me__form input::placeholder,
.contact-me__form textarea::placeholder {
  color: var(--clr-grey-text);
  font-family: var(--ff-main);
  font-weight: var(--fw-medium);
}

.contact-me__form textarea {
  resize: none;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 650px) {
  .ContactPage {
    margin-top: 48px;
  }

  .contact-me {
    gap: 32px;
  }

  .contact-me__form {
    width: 100%;
  }
}
