.ContactPage {
}

.portfolio__info.portfolio__info--touch {
  margin-top: 0;
}

.contact-me {
  margin-top: -40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.contact-me__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.contact-me__form .input-group {
  width: 100%;
}

.contact-me__form .input,
.contact-me__form .textarea {
  width: 100%;
  border: none;
  background: var(--clr-semi-dark-grey-bg);
  padding: 16px;

  margin-top: 8px;
}
.contact-me__form .input:focus,
.contact-me__form .textarea:focus {
  outline: 1px solid var(--clr-cyan-text);
}

.contact-me__form .input-error {
  position: relative;

  border: 1px solid var(--clr-error-red);
}

.contact-me__form .input-error::after {
  content: 'This field is required';

  color: var(--clr-error-red);
  font-size: var(--fs-10);
  font-weight: var(--fw-bold);
  font-style: italic;

  position: absolute;
  bottom: 0;
  left: 0;
}

.contact-me__form input::placeholder,
.contact-me__form textarea::placeholder {
  color: var(--clr-grey-text);
  font-family: var(--ff-main);
  font-weight: var(--fw-medium);
}

.contact-me__form textarea {
  resize: none;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 650px) {
  .ContactPage {
    margin-top: 48px;
  }

  .contact-me {
    gap: 32px;
  }

  .contact-me__form {
    width: 100%;
  }
}

/* Laptop */
@media (min-width: 1275px) {
  .portfolio__info.portfolio__info--touch {
    padding: 48px 0;

    display: grid;

    grid-template-areas:
      'touch-title touch-text'
      '. touch-icons';

    grid-template-rows: auto auto;
    grid-template-columns: 45% 55%;
    grid-column-gap: 0;
    grid-row-gap: 24px;
  }

  .portfolio__info.portfolio__info--touch .title--lg {
    grid-area: touch-title;
  }
  .portfolio__info.portfolio__info--touch .text {
    grid-area: touch-text;
  }
  .portfolio__info.portfolio__info--touch .icon-group_contact {
    grid-area: touch-icons;
  }

  .contact-me {
    margin-top: -26px;

    display: grid;

    grid-template-areas: 'contact-title form';

    grid-template-columns: 45% 55%;
    grid-column-gap: 0;
  }

  .contact-me .title {
    grid-area: contact-title;
  }
}
