.Footer {
  background: var(--clr-grayish-dark-blue-bg);
  color: var(--clr-white-text);

  padding: 56px 0;
}

.Footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.Footer_link svg {
  color: var(--clr-white-text);
  transform: translateY(10%);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 650px) {
  .Footer {
    padding: 20px 40px;
  }
  .Footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
  }
}

/* Laptop */
@media (min-width: 1275px) {
  .Footer {
    padding: 20px 110px;
  }

  .Footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
  }
}

/* Wide monitor */
@media (min-width: 1440px) {
  .Footer {
    padding: 20px 0;
  }

  .Footer__container {
    margin: 0 auto;
    max-width: 1110px;
  }
}
