.Footer {
  background: var(--clr-grayish-dark-blue-bg);
  color: var(--clr-white-text);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  padding: 56px 0;
}

.Footer_link svg {
  color: var(--clr-white-text);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 650px) {
  .Footer {
    padding: 20px 40px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
  }
}

/* Laptop */
@media (min-width: 1275px) {
  .Footer {
    padding: 20px 110px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
  }
}
