.icon-group_footer svg {
  color: var(--clr-white-text);
  margin-bottom: -8px;
}

.icon-group_footer .icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.icon-group_contact svg {
  color: var(--clr-grayish-dark-blue-bg);
}

.icon-group_contact .icon-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.twitter-icon {
  margin-top: 2px;
}
