.nav_header {
}

.nav_header .navigation-menu {
  display: none;
}

.nav_footer .hamburger {
  display: none;
}

.nav_footer .link {
  color: var(--clr-white-text);
}

.nav_footer .navigation-menu {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 650px) {
  .nav_header .hamburger {
    display: none;
  }

  .nav_header .navigation-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 42px;
  }

  .nav_header .link {
    color: var(--clr-grayish-dark-text);
  }

  .nav_footer {
    margin-right: auto;
  }

  .nav_footer .navigation-menu {
    text-align: center;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 42px;
  }
}
