.Pair {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pair__copy {
  border-top: 1px solid var(--clr-grayish-dark-diluted-text);
  border-bottom: 1px solid var(--clr-grayish-dark-diluted-text);

  padding: 32px 0 50px;
}

.pair__copy .text {
  margin-top: 28px;
}

.pair__copy .btn {
  margin-top: 24px;
}
