.PortfolioDetail {
}

.PortfolioDetail__hero--tablet,
.PortfolioDetail__hero--desktop {
  display: none;
}

.portfolio-background {
  margin-top: -24px;
}

.previews {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.previews__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.preview__images__tablet,
.preview__images__desktop {
  display: none;
}

.other-projects {
  position: relative;

  margin-top: 64px;
  margin-bottom: 64px;

  border-top: 1px solid var(--clr-grayish-dark-diluted-text);
  border-bottom: 1px solid var(--clr-grayish-dark-diluted-text);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 0;
}

.other-projects:after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  left: 50%;
  border: 1px solid var(--clr-grayish-dark-diluted-text);
}

.other-projects__left,
.other-projects__right {
  color: var(--clr-grayish-dark-text);
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.other-projects__left {
  align-items: flex-start;
}
.other-projects__right {
  align-items: flex-end;
  text-align: end;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 650px) {
  .PortfolioDetail__hero--mobile {
    display: none;
  }

  .PortfolioDetail__hero--tablet {
    display: block;
  }

  .PortfolioDetail {
    margin-top: 48px;
  }

  .PortfolioDetail .portfolio__info {
    padding: 32px 0;

    display: grid;

    grid-template-areas:
      'title description'
      'tags description'
      'button description';

    grid-template-rows: repeat(3, auto);
    grid-template-columns: 50% 50%;
  }

  .PortfolioDetail .portfolio__info .title {
    grid-area: title;
  }
  .PortfolioDetail .portfolio__info .text {
    grid-area: description;
  }
  .PortfolioDetail .portfolio__info .tag-area {
    grid-area: tags;
  }
  .PortfolioDetail .portfolio__info .btn {
    grid-area: button;
    justify-self: start;
  }

  .PortfolioDetail .other-projects {
    margin: 80px 0;
  }

  .preview__images__mobile {
    display: none;
  }

  .preview__images__tablet {
    display: block;
  }
}
