.PortfolioPage {
}

.previews {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.previews__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.other-projects {
  position: relative;

  margin-top: 64px;
  margin-bottom: 64px;

  border-top: 1px solid var(--clr-grayish-dark-diluted-text);
  border-bottom: 1px solid var(--clr-grayish-dark-diluted-text);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 0;
}

.other-projects:after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  left: 50%;
  border: 1px solid var(--clr-grayish-dark-diluted-text);
}

.other-projects__left,
.other-projects__right {
  color: var(--clr-grayish-dark-text);
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.other-projects__left {
  align-items: flex-start;
}
.other-projects__right {
  align-items: flex-end;
  text-align: end;
}
