.PortfolioPage {
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.portfolio__img--tablet,
.portfolio__img--desktop {
  display: none;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 650px) {
  .PortfolioPage--main {
    margin-top: 48px;
  }

  .PortfolioPage--main .portfolio {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 80px;
  }

  .PortfolioPage--main .portfolio:nth-child(even) .portfolio__info {
    order: -1;
  }

  .portfolio__img--mobile,
  .portfolio__img--desktop {
    display: none;
  }

  .portfolio__img--tablet {
    display: block;
  }

  .portfolio__img-container {
    width: 50%;
  }

  .portfolio .portfolio__info {
    width: 40%;
    margin: 0;
  }
}
