.PortfolioDetail {
}

.PortfolioDetail__hero--tablet,
.PortfolioDetail__hero--desktop {
  display: none;
}

.PortfolioDetail__grid .portfolio__info {
  margin-top: unset;
}

.portfolio-background {
  margin-top: -24px;
}

.previews {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.previews__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.preview__images__tablet,
.preview__images__desktop {
  display: none;
}

.other-projects {
  position: relative;

  margin-top: 64px;
  margin-bottom: 64px;

  border-top: 1px solid var(--clr-grayish-dark-diluted-text);
  border-bottom: 1px solid var(--clr-grayish-dark-diluted-text);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 0;
}

.other-projects:after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  left: 50%;
  border: 1px solid var(--clr-grayish-dark-diluted-text);
}

.other-projects__left,
.other-projects__right {
  color: var(--clr-grayish-dark-text);
  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.other-projects__left {
  align-items: flex-start;
}
.other-projects__right {
  align-items: flex-end;
  text-align: end;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 650px) {
  .PortfolioDetail {
    margin-top: 48px;
  }
  .PortfolioDetail__hero--mobile {
    display: none;
  }

  .PortfolioDetail__hero--tablet {
    display: block;
  }

  .PortfolioDetail__grid {
    margin-top: 40px;

    padding: 0 0 0;

    display: grid;

    grid-template-areas:
      'info info'
      'background background'
      'previews previews';

    grid-template-rows: repeat(3, auto);
    grid-template-columns: 50% 50%;
    grid-column-gap: 0;
    grid-row-gap: 40px;
  }

  .PortfolioDetail__grid .portfolio__info {
    grid-area: info;

    padding: 32px 0;
    margin-bottom: unset;

    display: grid;

    grid-template-areas:
      'title description'
      'tags description'
      'button description';

    grid-template-rows: repeat(3, auto);
    grid-template-columns: 50% 50%;
    grid-column-gap: 0;
    grid-row-gap: 16px;
  }

  .PortfolioDetail__grid .portfolio__info .title {
    grid-area: title;
  }
  .PortfolioDetail__grid .portfolio__info .tag-area {
    grid-area: tags;
  }
  .PortfolioDetail__grid .portfolio__info .btn {
    grid-area: button;
    justify-self: start;
  }
  .PortfolioDetail__grid .portfolio__info .text {
    grid-area: description;
  }

  .PortfolioDetail__grid .portfolio-background {
    grid-area: background;

    margin-top: unset;
  }

  .PortfolioDetail__grid .previews {
    grid-area: previews;

    margin-top: unset;
  }

  .preview__images__mobile {
    display: none;
  }

  .preview__images__tablet {
    display: block;
  }

  .other-projects {
    margin: 80px 0;
    padding: 32px 0;
  }

  .other-projects__left,
  .other-projects__right {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .other-projects__right .other-projects__copy {
    order: -1;
  }
}

/* Laptop */
@media (min-width: 1275px) {
  .PortfolioDetail__hero--tablet {
    display: none;
  }
  .PortfolioDetail__hero--desktop {
    display: block;
  }

  .PortfolioDetail__grid {
    margin-top: 115px;

    grid-template-areas:
      'info background'
      'info previews'
      '. previews';

    grid-template-rows: repeat(3, auto);
    grid-template-columns: 30% 55%;
    grid-column-gap: 15%;
    grid-row-gap: 40px;
  }

  .PortfolioDetail__grid .portfolio__info {
    padding: 48px 0;

    grid-template-areas:
      'title'
      'description'
      'tags'
      'button';

    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
    grid-column-gap: 0;
    grid-row-gap: 24px;

    align-self: baseline;
  }

  .PortfolioDetail__grid .portfolio__info .tag-area {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .PortfolioDetail__grid .portfolio-background {
    justify-self: end;
  }

  .PortfolioDetail__grid .portfolio-background .title-and-text {
    gap: 28px;
  }

  .other-projects {
    margin: 64px 0 115px;
    padding: 32px 0;
  }
}
