@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Public Sans', sans-serif;
  --ff-secondary: 'Ibarra Real Nova', serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-11: 0.688em;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  /* Text */
  --clr-grayish-dark-text: hsl(245, 11%, 22%);
  --clr-grayish-dark-diluted-text: hsla(245, 11%, 22%, 0.15);
  --clr-white-text: hsla(0, 0%, 100%, 1);
  --clr-cyan-text: hsl(168, 37%, 54%);

  /* Background  */
  --clr-very-light-grey-bg: hsla(0, 0%, 98%, 1);

  --clr-dark-blue-bg: hsl(206, 41%, 21%);
  --clr-darker-blue-bg: hsl(205, 38%, 17%);
  --clr-grayish-dark-blue-bg: hsl(245, 11%, 22%);
  --clr-cyan-bg: hsla(168, 36%, 54%, 1);
  --clr-dark-cyan-bg: hsl(167, 34%, 45%);

  /* Others */
}

body {
  background: var(--clr-very-light-grey-bg);

  color: var(--clr-grayish-dark-text);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.875;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ================== */
/* Typography */
/* ================== */

.title {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  line-height: 1.05;
  letter-spacing: -0.36px;
}

.title--lg {
  font-size: var(--fs-40);
  font-weight: var(--fw-bold);
}

.title--md {
  font-size: var(--fs-32);
  font-weight: var(--fw-medium);
  letter-spacing: -0.29px;
}

.text {
  font-size: var(--fs-15);
  line-height: 2;
  opacity: 0.8;
}

.tags {
  font-size: var(--fs-13);
  font-weight: var(--fw-bold);
  color: var(--clr-cyan-text);
  line-height: 2.2;
}

/* ======================== */
/* Links, buttons & inputs  */
/* ======================== */

.btn {
  display: inline-block;
  font-size: var(--fs-12);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  color: var(--clr-white-text);
  background: var(--clr-dark-blue-bg);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: var(--clr-cyan-bg);
}

.btn--alt {
  background: transparent;
  color: var(--clr-grayish-dark-text);
  border: 1px solid;
  padding: 12px 32px;
}

.btn--alt:hover,
.btn--alt:focus {
  color: var(--clr-white-text);
  background: var(--clr-grayish-dark-text);
}

.link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--fs-12);
}

/* ================== */
/* Utility styles */
/* ================== */
.wrapper {
  padding: 32px 32px 80px;
}

.portfolio-info {
  border-top: 1px solid var(--clr-grayish-dark-diluted-text);
  border-bottom: 1px solid var(--clr-grayish-dark-diluted-text);
  margin-top: 32px;
  margin-bottom: 72px;

  padding: 24px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.portfolio-background {
  margin-top: -24px;
}

.title-and-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
